
<app-customer-inner-navbar></app-customer-inner-navbar>

<!--Single product details-->

<div class="small-container single">
    <div class="row">
        <div class="col-2">
            <img src="assets/n1.jpg" width="100%" id="productImg">

            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="assets/n1.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="assets/n2.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="assets/n3.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="assets/n4.jpg" width="100%" class="small-img">
                </div>
            </div>
        </div>

        <div class="col-2">
            <h1>COBB BLUE SOLID SLIM FIT CASUAL SHIRT</h1>
            <h4>Rs. 800</h4>
            <select>
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>Large</option>
                <option>Medium</option>
                <option>Small</option>
            </select>
            <input type="number" value="1">
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <span>Add to Cart</span>
            </div>
            <h3>Product Details <i class="fas fa-indent"></i></h3>
            <br>
            <p>Parade the retro style wearing these shirt by Cobb. Moisture-wicking design and light weight design makes this slim-fit shirt a must-have in your wardrobe. You can pair it with any colour trousers and easily carry it off at office, day outings or even on a shopping spree.</p>
        </div>
    </div>
</div>
   
<!--Related Products-->
<div class="small-containers">
    <h2 class="title"> Related Products</h2>
    <div class="row">
        <div class="col-5">
            <a href=""><img src="assets/whitetshirt1.jpg" width="200px"></a>
            <h4>HRX Tshirt</h4>
            <p>Rs :550</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <span>Add to Cart</span>
            </div>
        </div>
        <div class="col-5">
            <a href=""><img src="assets/t7.webp" width="200px"></a>
                <h4>Solid Peach Shirt</h4>
                <p>Rs. 600</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <span>Add to Cart</span>
            </div>
        </div>
        <div class="col-5">
            <a href=""><img src="assets/t2.webp" width="200px"></a>
                <h4>Nike Red Tshirt</h4>
                <p>Rs. 600</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <span>Add to Cart</span>
            </div>
        </div>
        <div class="col-5">
            <a href=""><img src="assets/t1.jpg" width="200px"></a>
                <h4>Sassy Womens Tshirt</h4>
                <p>Rs. 550</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <span>Add to Cart</span>
            </div>
        </div>
    </div>
</div>
   