<!--nav bar-->
<app-customer-nav-bar></app-customer-nav-bar>

<!--slider part-->
<div class="slider">
    <div class="slide">
        <img src="assets/slide1.webp">
        <img src="assets/slide5.jpg">
        <img src="assets/slide6.jpg">
        <img src="assets/slide7.jpg">
    </div>
</div>

<!-- Feature Categories-->
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <a href="products"><img src="assets/pexels-gabriela-pereira-2635315.jpg"></a>
                <h2><a href="product-categories"> Clothings </a></h2>
            </div>
            <div class="col-3">
                <a href="products"><img src="assets/pexels-luci-6791447.jpg"  ></a>
                <h2><a href="product-categories">Mobiles</a></h2>
            </div>
            <div class="col-3">
                <a href="products"><img src="assets/pexels-zain-ali-1027130.jpg"></a>
                <h2><a href="product-categories">Footwears</a></h2>
            </div>
            <div class="col-3">
                <a href="products"><img src="assets/nivea.jpg"></a>
                <h2><a href="product-categories">Skin Care</a></h2>
            </div>
        </div>
    </div>
</div>
    
<!-- Feature Categories-->
<div class="small-container">
    <h2 class="title">Popular Brands on Clothings</h2>
    <div class="row">
        <div class="col-4">
            <a href="products"><img src="assets/104.png"></a> 
        </div>
        <div class="col-4">
            <a href="products"><img src="assets/127.png"></a> 
        </div>
        <div class="col-4">
            <a href="products"><img src="assets/175.png"></a>  
        </div>
        <div class="col-4">
            <a href="products"><img src="assets/129.png"></a>  
        </div>
        <div class="col-4">
            <a href="products"><img src="assets/810.png"></a>  
        </div>
    </div>
</div>
    
<!-- Feature Categories-->
<div class="small-container">
    <h2 class="title"> Featured Products</h2>
    <div class="row">
        <div class="col-5">
            <a href="products"><img src="assets/whitetshirt.jpg" width="200px"></a>
            <h4>HRX Tshirt</h4>
            <p>&#8377; 550</p>
        </div>
        <div class="col-5">
            <a href="products"><img src="assets/orange.jpg" width="200px"></a>
            <h4>Nike Shoe</h4>
            <p>&#8377;2500</p>
        </div>
        <div class="col-5">
            <a href="products"><img src="assets/Headphones.jpg" width="200px"></a>
            <h4>Sony 1021</h4>
            <p>&#8377;1550</p>
        </div>
        <div class="col-5">
            <a href="products"><img src="assets/watch.jpg" width="200px"></a>
            <h4>Tissot SPX</h4>
            <p>&#8377;3000</p>
        </div>
    </div>
</div>

<div class="small-container">
    <h2 class="title">Best On Fashion</h2>
    <div class="row">
        <div class="col-6">
            <a href="products"><img src="assets/ttttt.jpg" width="200px"></a>
            <h4>Mens Fashion</h4>
        </div>
        <div class="col-6">
            <a href="products"><img src="assets/Baby.jpg" width="200px"></a>
            <h4>Kids Fashion</h4>
        </div>
        <div class="col-6">
            <a href="products"><img src="assets/Acc.jpg" width="200px"></a>
            <h4>Accessories</h4>
        </div>
        <div class="col-6">
            <a href="products"><img src="assets/wmn.jpg" width="200px"></a>
            <h4>Womens Fashion</h4>
        </div>
    </div>
</div>

<div class="small-container">
    <h2 class="title">Electronics</h2>
    <div class="row">
        <div class="col-6">
            <a href="products"><img src="assets/lap.jpg" width="200px"></a>
            <h4>Laptops</h4>
        </div>
        <div class="col-6">
            <a href="products"><img src="assets/came.jpg" width="200px"></a>
            <h4>Cameras</h4>
        </div>
        <div class="col-6">
            <a href="products"><img src="assets/tablet.jpg" width="200px"></a>
            <h4>Tablets</h4>
        </div>
        <div class="col-6">
            <a href="products"><img src="assets/speak.jpg" width="200px"></a>
            <h4>Speakers</h4>
        </div>
    </div>
</div>

<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-7">
                <a href="products"><img src="assets/samsung.png" width="400px" class="offer-img"></a>
            </div>
            <div class="col-7">
                <p>Best Offers On Shopping Cart</p>
                <h1>SAMSUNG S22 ULTRA </h1>
                <small>The Epic Standard in Innovation The epic Galaxy S22 Ultra is redefining smartphones. There's the Ultimate Dynamic AMOLED 2x display with standout brightness, a battery that will last more than 24 hours and revolutionary night-time cameras with Dual Optical Zooms.</small>
            </div>
        </div>
    </div>
</div>

