<!--nav bar-->
<app-customer-inner-navbar> </app-customer-inner-navbar>

<h1>My Orderz</h1>

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="rounded">
                <div class="table-responsive table-borderless">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center"> </th>
                                <th>Product name</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Price</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr class="cell-1">
                                <td class="text-center">  </td>
                                <td>Dell Laptop</td>
                                <td>Latitude 14 3420 Business Laptop</td>
                                <td><span class="badge badge-success">Delivered</span></td>
                                <td>40,000.00</td>
                                <td>Today</td>
                                
                            </tr>
                            <tr class="cell-1">
                                <td class="text-center"> </td>
                                <td>Levis Shirt</td>
                                <td>LEVIS Mens Graphic Denim Shirt Large Blue Cotton</td>
                                <td><span class="badge badge-info">On the way</span></td>
                                <td>1000.00</td>
                                <td>Tommorrow</td>
                            </tr>
                            <tr class="cell-1">
                                <td class="text-center"> </td>
                                <td>Redmi Note 8 pro</td>
                                <td>REDMI NOTE 8 PRO (GAMMA GREEN, 64 GB, 6 GB RAM)</td>
                                <td><span class="badge badge-danger">Canclled Order</span></td>
                                <td>12000.00</td>
                                <td>May 12,2021</td>
                               
                            </tr>
                            <tr class="cell-1">
                                <td class="text-center"> </td>
                                <td>Skin Care Creem</td>
                                <td>kingredients 03 Skin Protein 30ml - The Skin Nerd</td>
                                <td><span class="badge badge-success">Delivered</span></td>
                                <td>50.00</td>
                                <td>May 11,2021</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>