/* Make the image fully responsive */

.carousel .item {
	height: 400px;
}

.item img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 400px;
}

/*nav bar css*/
.nav-link{color: white;}

.navbar-cs{
    padding:5px;
    font-size: 16px;
}
.navbar-nav{padding:0 0 0 50px;}

.navbar-right{margin-right:100px;}
