<app-customer-nav-bar></app-customer-nav-bar>

<div class="small-container">
    <h2 class="title">Electronics</h2>
    <div class="row">
        <div class="col-1">
            <a href=""><img src="assets/p1.jpg" width="200px"></a>
            <h4>OnePlus 8</h4>
            <p>Rs. 35000</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <a href="/customer-cart">Add to Cart</a>
            </div>
        </div>
        <div class="col-1">
            <a href=""><img src="assets/p2.jpg" width="200px"></a>
            <h4>Iphone 13 128GB</h4>
            <p>Rs. 75000</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <a href="/customer-cart">Add to Cart</a>
            </div>
        </div>
        <div class="col-1">
            <a href=""><img src="assets/p3.webp" width="200px"></a>
            <h4>Boat Airdopes401</h4>
            <p>Rs. 1500</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <a href="/customer-cart">Add to Cart</a>
            </div>
        </div>
        <div class="col-1">
            <a href=""><img src="assets/p4.png" width="200px"></a>
            <h4>Iphone 11 128GB</h4>
            <p>Rs. 48000</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <a href="/customer-cart">Add to Cart</a>
            </div>
        </div>

        <div class="col-1">
            <a href=""><img src="assets/p5.webp" width="200px"></a>
            <h4>Hair Straightener </h4>
            <p>Rs. 1800</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <a href="/customer-cart">Add to Cart</a>
            </div>
        </div>

        <div class="col-1">
            <a href=""><img src="assets/p6.webp" width="200px"></a>
            <h4>Smart Fitness Band</h4>
            <p>Rs. 3000</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <a href="/customer-cart">Add to Cart</a>
            </div>
        </div>

        <div class="col-1">
            <a href=""><img src="assets/p8.jpg" width="200px"></a>
            <h4>Samsung Galaxy S21</h4>
            <p>Rs. 49000</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <a href="/customer-cart">Add to Cart</a>
            </div>
        </div>

        <div class="col-1">
            <a href=""><img src="assets/p9.jpg" width="200px"></a>
            <h4>Canon D500</h4>
            <p>Rs. 45800</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <a href="/customer-cart">Add to Cart</a>
            </div>
        </div>

        <div class="col-1">
            <a href=""><img src="assets/p10.jpg" width="200px"></a>
            <h4>Oneplus Power Bank</h4>
            <p>Rs. 2000</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <a href="/customer-cart">Add to Cart</a>
            </div>
        </div>
        
        <div class="col-1">
            <a href=""><img src="assets/p11.jpg" width="200px"></a>
            <h4>MacBook RoseGold</h4>
            <p>Rs. 120000</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <a href="/customer-cart">Add to Cart</a>
            </div>
        </div>

        <div class="col-1">
            <a href=""><img src="assets/p12.jpg" width="200px"></a>
            <h4>HP EliteBook</h4>
            <p>Rs. 80000</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <a href="/customer-cart">Add to Cart</a>
            </div>
        </div>

        <div class="col-1">
            <a href=""><img src="assets/p13.jpg" width="200px"></a>
            <h4>Sony 2101 </h4>
            <p>Rs. 1500</p>
            <div class="buttons">
                <i class="fas fa-shopping-cart"></i>
                <a href="/customer-cart">Add to Cart</a>
            </div>
        </div>
    </div>
</div>
